._37ef{padding:24px 0}._37eg{padding:0 32px 24px;text-align:center}
.sp_U4e8MXLKOBA{background-image:url(/rsrc.php/v3/yI/r/n5p7gY1BSuA.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_U4e8MXLKOBA.sx_367b88{background-position:0 0}.sp_U4e8MXLKOBA.sx_e3bf32{background-position:0 -21px}

#bootloader_qZyQa{height:42px;}.bootloader_qZyQa{display:block!important;}