.tokenizer{border:1px solid #8496ba;padding-right:5px}div.UIToken{border:none}
.sp_T6kkEc7bIVE{background-image:url(/rsrc.php/v3/yE/r/6l3MzJieGOD.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_T6kkEc7bIVE.sx_0805e6{background-position:0 0}.sp_T6kkEc7bIVE.sx_b979cc{background-position:0 -21px}

#bootloader_VzxB4{height:42px;}.bootloader_VzxB4{display:block!important;}