._2b8{min-height:374px}
.sp_UhNUqbGAQmX_2x{background-image:url(/rsrc.php/v3/yQ/r/GhFEP0YXNTP.png);background-size:21px 63px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_UhNUqbGAQmX_2x.sx_77a8b3{background-position:0 0}.sp_UhNUqbGAQmX_2x.sx_d2eca6{background-position:0 -21px}.sp_UhNUqbGAQmX_2x.sx_7d3054{background-position:0 -42px}

#bootloader_kXYFq{height:42px;}.bootloader_kXYFq{display:block!important;}