._fbd{color:#4267b2}
._4rc5._4rc5{background-color:#000;cursor:pointer;position:absolute}._s4g{overflow:hidden;position:relative}._605a ._s4g{border-radius:50%}.chrome ._s4g{transform:translateZ(0)}

#bootloader_OuI_o{height:42px;}.bootloader_OuI_o{display:block!important;}